.navbar{
    background:url('../images/menubar.png') no-repeat center center;
    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;
    min-width: 100%;
    /* The Magic */
    background-size:cover;
    left: 0;
    transition: 700ms;
    z-index: -100;

  }
 