@import url('https://fonts.cdnfonts.com/css/avenir');

@font-face {
  font-family: Avenir-Light;
  src: url("/src/font - Copy/AvenirLTStd-Light.otf") format("opentype");
}
@font-face {
  font-family: Avenir-Heavy;
  src: url("/src/font - Copy/AvenirLTStd-Heavy.otf") format("opentype");
}

.bgg{
  background-image: url(/src/images/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.g{
  background-image: url(/src/images/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}
.al{
  font-family: 'Avenir-Light';
}
.ah {
  font-family: 'Avenir-Heavy';
}
